.team-members {
  margin: 0 auto;
  display: grid;
  gap: 1;
  grid-template-columns: repeat(3, 1fr);
}

.talent {
  font-family: "AvenirNextLTProRegular";
  font-size: 2vw;
  padding-left: 2.5vw;
}

.team-talent-carousel {
  margin: 3vw 0 3vw 0;
  white-space: nowrap;
  overflow: hidden;
  background: url("/src/assets/images/talent_images_white_bg.png");
  background-size: cover;
  background-repeat: repeat-x;
  width: 100%;
  height: 8vw;
  animation: bgScrollLeft 5s linear infinite;
}

.team-talent-carousel:hover {
  animation-play-state: paused;
}

@keyframes bgScrollLeft {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1280px 0;
  }
}
