.team-members {
  margin: 0 auto;
  display: grid;
  gap: 1;
  grid-template-columns: repeat(3, 1fr);
}

/* @media (min-width: 600px) {
  .team-members {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .team-members {
    grid-template-columns: repeat(3, 1fr);
  }
} */
